body {
  margin: 0 !important;
  /* font-family: 'Alibaba'; */
}

.para-table {
  border-collapse: collapse;
  /* border-spacing: 15px 10px; */
  border-radius: 5px;
  width: 100%;
}


.para-td {
  border: 1px solid #ddd;
  padding: 10px;
}

.para-thead {
  font-weight: 400;
  height: 45px;
  background-color: rgb(250, 250, 250);
  color: black;
}


/* 
@font-face {
  font-family: Alibaba;
  src: url('./font/AlibabaPuHuiTi-3-45-Light.woff');
} */

.code {
  font-family: JetBrainsMono;
  width: 100%;
  height: 100%;
}


.brand-logo {
  margin-right: 5px
}

.ArProgress {
  width: 100%;
  height: 3px;
  overflow: hidden;
  background-color: #AAAAAA;
}

.ArProgress>div {
  position: relative;
  height: 3px;
  transition: width .5s ease-in-out;
  background-color: green;
}

.ArLoadLine {
  width: 100%;
  height: 3px;
  overflow: hidden;
}

.ArLoadLine>div {
  position: relative;
  width: 10%;
  height: 3px;
  animation-name: ArLoadLine;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes ArLoadLine {
  from {
    left: -20%;
    background-color: palevioletred;
  }

  to {
    left: 100%;
    background-color: lawngreen;
  }
}

.hdpic {
  width: 99%;
  height: 230px;
  border-radius: 5px;
  z-index: -1;
  justify-content: center;
  object-fit: cover;
  filter: brightness(.5);
}

.lead {
  font-size: 1.1rem;
  font-weight: 100;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

@font-face {
  font-family: JetBrainsMono;
  src: url('./font/JetBrainsMono-Regular-2.ttf');
}

a {
  color: aqua;
}